@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  background: #ffffff;
  font-family: 'Satoshi', sans-serif;
}

@media (min-width: 500px) {
  *::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 9px;
    height: 9px;
  }

  *::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c3c9d1; /* creates padding around scroll thumb */
    border-radius: 2px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #1366de; /* creates padding around scroll thumb */
    border-radius: 2px;
  }

  *::-webkit-scrollbar-corner {
    background: transparent; /* color of the tracking area */
  }
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url('./fonts/satoshi/Satoshi-BlackItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
